@charset "UTF-8";

@font-face {
    font-family: "Passion One";
    src: url('../fontes/PassionOne.ttf');
}

@font-face {
    font-family: "Sriracha";
    src: url('../fontes/Sriracha.ttf');
}

:root {
    --font: "Passion One", sans-serif;
    --font1: "Sriracha", cursive;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: white;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    height: 260px;
}

div#header {
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}

div#header > h1 {
    font-family: var(--font);
    font-size: 8.5em;
    font-variant: small-caps;
    letter-spacing: 5px;
}

div#header > p > a {
    text-decoration: none;
    font-weight: bold;
    color: white;
}

div#header > p > a:hover {
    text-decoration: underline;
}

section {
    font-family: var(--font1);
    font-size: 3.5vw;
    line-height: 2em;
    padding: 10vh 0px 10vh 30px;
}

section.normal > p {
    padding-bottom: 96px;
}

section.img {
    background-size: cover;
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.491);
}

section.img > p{
    background-color: rgba(0, 0, 0, 0.512);
    display: inline-block;
    padding: 5px;
    color: rgb(243, 238, 238);
}

section#flor {
    background: url(../imagens/background001.jpg) center center fixed;
}



section#livro {
    background: url(../imagens/background002.jpg) center center no-repeat fixed;
    background-size: cover;
    padding: 60px 0px 60px 30px;
}

footer {
    background-color: black;
    padding: 16px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.5em;
    color: white;
    text-align: center;
}

footer > p > a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

footer > p > a:hover {
    text-decoration: underline;
}