@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');
/* font-family: "Passion One", sans-serif;*/
@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');
/*font-family: "Sriracha", cursive;*/


:root {
    --font: "Passion One", sans-serif;
    --font1: "Sriracha", cursive;
}

* {
    margin: 0;
    padding: 0;
}

body {

}

header {
    background-color: black;
    color: white;
    text-align: center;
    padding: 4%;
}

header > h1 {
    font-family: var(--font);
    font-size: 2.5em;
    text-transform: uppercase;
}