@charset "UTF-8";

:root {
    --cor: black;
}

body {
    background: url(../imagens/fundo.jpg) no-repeat;
    background-size: cover;
    padding: 4% 10%;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header > ul {
    display: flex;
    list-style-type: none;   
}

header > #redes > li {
    padding: 5px;
}

header > #redes > li > a > img{
    width: 30px;
}
