@charset "UTF-8";

@font-face {
    font-family: 'Roman';
    src: url(../fontes/RomanSD.ttf);
}

@font-face {
    font-family: 'Saudagar';
    src: url(../fontes/Saudagar.ttf);
}

@font-face {
    font-family: 'Auristela';
    src: url(../fontes/Auristela\ FREE.ttf);
}

@font-face {
    font-family: 'Aesthetic';
    src: url(../fontes/Aesthetic.ttf);
}

:root {
    --cor: #ffffff;
    --cor1: #9bd9e9;
    --cor2: #684d4d;
    --font: 'Arial', Helvetica, sans-serif;
    --font1: 'Auristela', sans-serif;
    --font2: 'Roman', serif;
    --font3: 'Aesthetic', serif;
}


* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: var(--font);
    font-weight: 600;
    background-color: var(--cor);
    color: white;
    color: #000000;
}

a.externo::after {
    content: '\00A0\1F517';
}

header {
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    border-bottom: 1px solid black;
    text-align: center;
    background-color: var(--cor);
}

header > h1 {
    height: 73px;
    width: 300px;
    font-family: var(--font3);
    font-size: 2.2em;
    letter-spacing: 4px;
    word-spacing: 6px;
    color: #000000;
}

nav {
    padding: 0px 20px 0px 20px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

nav > a {
    font-size: 0.7em;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-align: center;
    padding: 10px 20px;
    text-decoration: none;
    color: #000000;
}

nav > a:hover {
    color: var(--cor1);
    background-color: var(--cor);
    border-radius: 4px;
    transition-duration: 0.5s;
}

nav > a#contato {
    border: 1px solid var(--cor1);
    background-color: var(--cor1);
    border-radius: 5px;
}

nav > a#contato:hover {
    background-color: var(--cor);
    color: var(--cor1);
}

nav > a.redes {
    padding-right: 0px;
}

nav > a.redes img{
    padding: 0px;
    width: 25px;
    height: 25px;
}

nav > a.redes:hover {
    opacity: 50%;
    transition-duration: 0.5s;
}

main {

}


section {
    text-shadow: 0px 1px 4px #0000009f;
    height: 500px;
    background: url(../imagens/mesa.jpg) no-repeat;
    background-size: cover;
    padding: 200px 40px 120px 40px;
    color: var(--cor);
    text-transform: uppercase;
    display: grid;
}

section:hover {
    opacity: 80%;
    transition-duration: 0.8s;
}

section > h1 {
    font-size: 1em;
    letter-spacing: 5px;
    font-weight: 500;
    font-family: var(--font);
}

section > h2 {
    font-family: var(--font3);
    font-size: 5em;
}

section > div > a {
    font-weight: 400;
    font-size: 0.8em;
    letter-spacing: 4px;
    text-decoration: none;
    color: #fff;
    border:  2px solid #fff;
    padding: 23px 33px;

}

section > div > a:hover {
    transition-duration: 0.1s;
    background-color: var(--cor1);
    color: #000000;
    border: 1px solid var(--cor1);
}

footer {
    margin-top: 40px;
    border: 1px solid white;
    text-align: center;
    font-weight: bold;
    background-image: linear-gradient(to right, #ff92d5, black);
}














