@charset "UTF-8";

@font-face {
    font-family: 'Roman';
    src: url(../fontes/RomanSD.ttf);
}

@font-face {
    font-family: 'Saudagar';
    src: url(../fontes/Saudagar.ttf);
}

@font-face {
    font-family: 'Auristela';
    src: url(../fontes/Auristela\ FREE.ttf);
}

@font-face {
    font-family: 'Aesthetic';
    src: url(../fontes/Aesthetic.ttf);
}

:root {
    --cor: #ffffff;
    --cor1: #9bd9e9;
    --cor2: #684d4d;
    --font: 'Saudagar', Helvetica, sans-serif;
    --font1: 'Auristela', sans-serif;
    --font2: 'Roman', serif;
    --font3: 'Aesthetic', serif;
}


* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: var(--font);
    font-weight: 600;
    background-color: var(--cor);
    color: white;
    color: #000000;
}

a.externo::after {
    content: '\00A0\1F517';
}

header {
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    border-bottom: 1px solid black;
    text-align: center;
    background-color: var(--cor);
}

header > h1 {
    height: 73px;
    width: 300px;
    font-family: var(--font3);
    font-size: 2.2em;
    letter-spacing: 4px;
    word-spacing: 6px;
    color: #000000;
}

nav {
    padding: 0px 20px 0px 20px;
    display: flex;
    justify-content: flex-end;
}

nav > a {
    text-align: center;
    padding: 10px 20px;
    text-decoration: none;
    color: #000000;
}

nav > a#contato {
    border: 1px solid var(--cor1);
    background-color: var(--cor1);
}

nav > a.redes img{
    padding: 0px;
    width: 25px;
    height: 25px;
}

nav > a:hover {
    color: var(--cor1);
    background-color: var(--cor);
    border-radius: 4px;
    transition-duration: 0.5s;
}

nav > a#contato:hover {
    background-color: var(--cor);
    color: var(--cor1);
}

main {
    background-color: var(--cor);
    border: 1px solid white;
    min-width: 320px;
    max-width: 800px;
    margin: auto;
    padding: 15px;
}

main h1, h2, h3{
    font-family: var(--font1);
    text-decoration: underline;
    margin: 10px 0px;
}

main a {
    color: var(--cor2);
    background-color: var(--cor);
    border-radius: 5px;
    padding: 2px 6px;
    font-weight: bold;
    font-size: 1.1em;
}

main a:hover {
    color: white;
}

main img {
    display: block;
    margin: auto;
}

article {
    border: 1px dashed white;
    text-align: justify;
    line-height: 2em;
}

aside {
    border: 1px dashed white;
    padding: 5px;
    margin-top: 1em;
}

aside > h3 {
    text-align: center;
}

aside > ul {
    list-style-type: '\2B50\00A0\00A0';
    list-style-position: inside;
    text-align: center;
    columns: 2;
}
footer {
    margin-top: 40px;
    border: 1px solid white;
    text-align: center;
    font-weight: bold;
    background-image: linear-gradient(to right, #ff92d5, black);
}














